@model IEnumerable<SpeedexApplication.ViewModel.MainMenuGrid>

@{
    ViewBag.Title = "Home Page";
}

<head>

</head>
<body>
    <div class="jumbotron">
        <h2>MAIN MENU</h2>
        <hr />
        @using (Html.BeginForm())
        {
            <p style="font-size:medium">
                Search for Customer, Area, City, Country: @Html.TextBox("SearchString")
                <input type="submit" value="Search"/>
                <input type="reset" value="reset" />
            </p>
        }

    </div>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
            </th>
            <th>
                @Html.ActionLink("Area", "Index", new { sortOrder = ViewBag.AreaSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
            </th>
            <th>
                @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm })
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Customers", new {id = item.Id } )">
                    <img src="~/Content/Images/customer.png" style="width:20px; height:20px" />
                </a>
                <a href="@Url.Action("Edit", "Areas", new {id = item.AreaId } )">
                    <img src="~/Content/Images/area.png" style="width:16px; height:16px" />
                </a>
                <a href="@Url.Action("Edit", "Cities", new {id = item.CityId } )">
                    <img src="~/Content/Images/city.png" style="width:24px; height:24px" />
                </a>
            </td>
        </tr>

        }
    </table>

</body>



